.header {
    /* text-align: center; */
    background-color: rgba(20, 20, 200, 0.5);
    font-family: sans-serif;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    font-family: Arial, sans-serif;
    height: 90vh;
}

/* Стилізація для меню */
.menu {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #0056b3;
}

.assetTable {
    border-collapse: collapse;
    border: 1px solid black;
}

.assetTable td,th{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.assetTable th{
    background-color: #cccccc;
}


/* Стилізація для основної частини */
.content {
    /* flex: 1; */
    width: 25%;
    padding: 20px;
}

.content div[data-content] {
    display: none; /* Спочатку всі блоки приховані */
}

.content div.active {
    display: block; /* Відображаємо активний блок */
}

/* Form */
.form-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    float: right;
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}